<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dossie</title>
         <link rel="stylesheet" href="{% static 'cadastrar/css/cadastro.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
    </head>

    <body class="background">
        <header>
            <div class="navbar">
                <div class="logo">Dossie CEMOT NOC</div>
                 <ul class="menu-links">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=RDdQw4w9WgXcQ&start_radio=1">Retornar ao Turno Fácil</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="glass-container">
                <h1>Cadastro de Sistema</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis ante eu odio sollicitudin, vitae iaculis metus rhoncus. Nunc porta id purus vitae sagittis. Duis vel dolor pellentesque, euismod odio a, euismod erat. Aliquam fringilla ac urna sed efficitur. Morbi accumsan, neque a lobortis maximus, ligula mi vulputate ligula, a facilisis neque lectus ac est. Vivamus vitae dui non purus euismod pretium ut ut nisl. Curabitur egestas suscipit tellus eu scelerisque. Donec ultrices elementum orci a consectetur. Nulla facilisi. Cras auctor bibendum pretium.</p>
            </div>
        </main>
        <footer></footer>
    </body>

</html>